@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background: #d7ddff;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.Scroll {
  scroll-behavior: smooth;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #6699ff #e0e0e0;
}

/* Chrome, Edge, Safari */
.Scroll::-webkit-scrollbar {
  width: 8px;
}

.Scroll::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 4px;
}

.Scroll::-webkit-scrollbar-thumb {
  background-color: rgb(82, 82, 223);
  border-radius: 4px;
  border: 2px solid #e0e0e0;
}

.Scroll::-webkit-scrollbar-thumb:hover {
  background-color: #e55353;
}

.login-card {
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  padding: 2rem;
  transform: translateY(-50px);
  opacity: 0;
  animation: slideDown 0.8s ease-out forwards;
}

.slideDown {
  transform: translateY(-50px);
  opacity: 0;
  animation: slideDown 0.8s ease-out forwards;
}

@keyframes slideDown {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.logo-container {
  width: 100%;
}

.logo {
  width: 300px;

  margin-bottom: 0.5rem;
}

.form-floating {
  margin-bottom: 1.2rem;
}

.form-control:focus {
  border-color: #193e72;
  box-shadow: 0 0 0 0.25rem rgba(118, 75, 162, 0.25);
}

.btn-primary {
  background-color: #193e72;
  border: none;
  transition: all 0.3s ease;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #356ebe;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
}

.btn-secondary {
  background-color: #e2e8f0;
  border: none;
  color: #4a5568;
  transition: all 0.3s ease;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #cbd5e0;
  transform: translateY(-2px);
}

.captcha-container {
  border-radius: 8px;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: 1px solid #6699ff;
}

.captcha-image {
  background-color: #6699ff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #fff;
  user-select: none;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.8rem;
}

.refresh-captcha {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.refresh-captcha:hover {
  transform: rotate(90deg);
}

.input-group-text {
  background-color: transparent;
}

.footer-text {
  text-align: center;
  font-size: 0.85rem;
  color: #6c757d;
  margin-top: 1rem;
}

.form-label {
  margin-bottom: 0.3rem;
  color: #000;
  font-weight: 500;
}
